.appointment-card {
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.appointment-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: solid 1px var(--borders-color);
}

.appointment-card .card-header .infos-side .name {
    margin-bottom: 5px;
}

.appointment-card .card-header .status {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: aqua;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.appointment-card .card-header .status.status-primary {
    background-color: var(--primary-color);
}

.appointment-card .card-header .status.status-warning {
    background-color: var(--warning-color);
}

.appointment-card .card-header .status.status-success {
    background-color: var(--success-color);
}

.appointment-card .card-header .status.status-secondary {
    background-color: var(--borders-color);
}

.appointment-card .card-body {
    padding-top: 10px;
}

.appointment-card .card-body>ul {
    list-style: none;
}

.appointment-card .card-body>ul>li:not(:last-child) {
    margin-bottom: 8px;
}

.appointment-card .card-body .statuses-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.appointment-card .card-body .statuses-container .form-check:not(:last-child) {
    margin: 0px 10px 0px 0px;
}

.appointment-card .card-body .statuses-container .form-check {
    font-size: 0.99rem;
}


/*** Start Media ***/

@media (max-width: 576px) {
    .appointment-card .card-header .status {
        width: 1rem;
        height: 1rem;
    }
}


/*** End Media ***/