.screen-container {
    display: flex;
}


/* Start Sidebar */

.screen-container .sidebar {
    background-color: var(--primary-color);
    height: 100vh;
    width: 25%;
    padding: 50px 0px;
    box-shadow: 0px 1px 20px 1px var(--shadow-color);
}

.screen-container .sidebar .header {
    margin-bottom: 30px;
}

.screen-container .sidebar .header .clinic-name {
    color: var(--main-bg-color);
    text-align: center;
    font-size: 40px;
    display: block;
    text-decoration: none;
}

.screen-container .sidebar>ul {
    list-style: none;
}

.screen-container .sidebar>ul>li>a {
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: var(--main-bg-color);
    text-decoration: none;
    cursor: pointer;
    transition: all var(--trans-duration) ease-in-out;
    -webkit-transition: all var(--trans-duration) ease-in-out;
    -moz-transition: all var(--trans-duration) ease-in-out;
    -ms-transition: all var(--trans-duration) ease-in-out;
    -o-transition: all var(--trans-duration) ease-in-out;
}

.screen-container .sidebar>ul>li>a.active {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
}

.screen-container .sidebar>ul>li>a:hover {
    padding-left: 30px;
}


/*** Start Media ***/

@media (max-width: 576px) {
    .screen-container {
        flex-direction: column;
        padding: 0px;
    }
    .screen-container .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 0px 0px;
    }
    .screen-container .sidebar .header {
        margin-bottom: 15px;
    }
    .screen-container .sidebar .header .clinic-name {
        font-size: 25px;
    }
    .screen-container .sidebar>ul {
        display: flex;
        justify-content: center;
    }
    .screen-container .sidebar>ul>li>a {
        padding: 15px 8px;
        height: 100%;
        text-align: center;
    }
    .screen-container .sidebar>ul>li>a:hover {
        padding-left: 8px;
    }
}

@media (min-width: 577px) and (max-width: 912px) {
    .screen-container {
        flex-direction: column;
        padding: 0px;
    }
    .screen-container .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 0px 0px;
    }
    .screen-container .sidebar .header {
        margin-bottom: 15px;
    }
    .screen-container .sidebar .header .clinic-name {
        font-size: 25px;
    }
    .screen-container .sidebar>ul {
        display: flex;
        justify-content: center;
    }
    .screen-container .sidebar>ul>li>a {
        padding: 15px 8px;
        height: 100%;
        text-align: center;
    }
    .screen-container .sidebar>ul>li>a:hover {
        padding-left: 8px;
    }
}

@media (min-width: 913px) and (max-width: 1180px) {
    .screen-container {
        flex-direction: column;
        padding: 0px;
    }
    .screen-container .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 15px 0px 0px 0px;
    }
    .screen-container .sidebar .header {
        margin-bottom: 15px;
    }
    .screen-container .sidebar .header .clinic-name {
        font-size: 25px;
    }
    .screen-container .sidebar>ul {
        display: flex;
        justify-content: center;
    }
    .screen-container .sidebar>ul>li>a {
        padding: 15px 8px;
        height: 100%;
        text-align: center;
    }
    .screen-container .sidebar>ul>li>a:hover {
        padding-left: 8px;
    }
}


/*** End Media ***/


/* End Sidebar */