.faded-msg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--success-color);
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 500;
    box-shadow: 0 4px 10px var(--shadow-color);
    animation: fadeIn var(--trans-duration) ease;
    -webkit-animation: fadeIn var(--trans-duration) ease;
}

.faded-msg.succes-msg {
    background-color: var(--main-bg-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}