/* Start Variables */

:root {
    --primary-color: #2563eb;
    --success-color: #16a34a;
    --warning-color: #f59e0b;
    --danger-color: #dc2626;
    --main-bg-color: #f8fafc;
    --borders-color: #e5e7eb;
    --text-color: #1f2937;
    --shadow-color: #adadad;
    --overlay-color: #373535d9;
    --trans-duration: 0.4s;
}

@font-face {
    font-family: mainFont;
    font-display: swap;
    src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}

@font-face {
    font-family: boldFont;
    font-display: swap;
    src: url("./assets/fonts/Inter_18pt-Bold.ttf");
}


/* End Variables */


/*Start Global Rules*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--text-color);
    color: var(--main-bg-color);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'mainFont', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
}

main {
    flex: 1;
    padding: 25px 0px;
}

.main-container {
    width: 92%;
    margin: Auto;
}

.input-container {
    width: 25vw;
    margin-bottom: 15px;
    display: flex;
    align-items: stretch;
}

.main-input {
    display: inline-block;
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid var(--borders-color);
    width: 70%;
    outline: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.main-input:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.main-input.main-input-with-label {
    border-radius: 0px 25px 25px 0px;
    -webkit-border-radius: 0px 25px 25px 0px;
    -moz-border-radius: 0px 25px 25px 0px;
    -ms-border-radius: 0px 25px 25px 0px;
    -o-border-radius: 0px 25px 25px 0px;
}

.input-label {
    display: inline-block;
    width: 30%;
    padding: 15px 20px;
    background-color: var(--borders-color);
    border-radius: 25px 0px 0px 25px;
    -webkit-border-radius: 25px 0px 0px 25px;
    -moz-border-radius: 25px 0px 0px 25px;
    -ms-border-radius: 25px 0px 0px 25px;
    -o-border-radius: 25px 0px 0px 25px;
}

.react-datepicker {
    color: var(--text-color) !important;
    border: none !important;
    box-shadow: 1px 3px 20px 0px var(--shadow-color);
}

.react-datepicker-wrapper {
    width: 70%;
}

.react-datepicker-wrapper .main-input {
    width: 100%;
}

.react-datepicker__header {
    background-color: var(--main-bg-color) !important;
    border-bottom: 1px solid var(--borders-color) !important;
}

.react-datepicker__day--selected {
    background-color: var(--primary-color) !important;
    color: var(--main-bg-color) !important;
}

.main-btn {
    border: 0px;
    outline: none;
    padding: 12px 15px;
    background-color: var(--primary-color);
    color: var(--main-bg-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all var(--trans-duration) ease-in-out;
    -webkit-transition: all var(--trans-duration) ease-in-out;
    -moz-transition: all var(--trans-duration) ease-in-out;
    -ms-transition: all var(--trans-duration) ease-in-out;
    -o-transition: all var(--trans-duration) ease-in-out;
}

.main-btn:hover {
    letter-spacing: 1px;
}

.main-btn.disabled {
    background-color: var(--borders-color);
}

.main-btn.btn-danger {
    background-color: var(--danger-color);
}

.main-btn.btn-cancel {
    background-color: var(--borders-color);
    color: var(--text-color);
}


/** Start Media **/

@media (max-width: 576px) {
    body {
        font-size: 15px;
    }
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 8px;
    }
    .react-datepicker__input-container .main-input {
        width: 100%;
    }
    .main-btn {
        font-size: 18px;
        padding: 10px 8px;
    }
}

@media (min-width: 577px) and (max-width: 1180px) {
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 8px;
    }
    .react-datepicker__input-container .main-input {
        width: 100%;
    }
}


/** End Media **/


/*End Global Rules*/